body {
    background-image: url("../images/background.jpg");
    background-size: 100%;
}
.container {
    background-color: rgb(77, 178, 245);
    margin-top: 50px;
    padding-bottom: 50px;
}
h1 {
    text-align: center;
    font-family: 'Faster One', cursive;
    font-size: 80px;
}
#startButton {
    width: 30%;
    background-color: rgb(73, 73, 73);
    color: white;
    padding: 15px 0;
    font-size: 30px;
}
#start-page {
    width:100%;
    text-align: center;
    margin: 60px 0;
}
#main-page {
    display: none;
    font-family: 'Michroma', cursive;
    font-size: 30px;
    text-align: center;
}

#end-page {
    display: none;
    font-family: 'Michroma', cursive;
    font-size: 30px;
    text-align: center;
}

.answers {
    font-size: 20px;
}

